@charset "UTF-8";

.wave-top {
    width: 100%;
}

.voice .section-title,
.collection .section-title {
    color: white;
}

.voice {
    position: relative;
    background: linear-gradient(to right, #D2F0D5, #6FB375);
    padding-bottom: 120px;
}

.wrapper-voice,
.wrapper-collection {
    max-width: 1080px;
    margin: 0 auto;
}

.voice-slider .voice-item {
    min-height: 480px;
    height: auto;
    border-radius: 15px;
    background-color: white;
    opacity: 0.3;
    transform: scale(.8);
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
}

.js-slick-content {
    position: relative;
}

.voice-slider .slick-slide {
    margin: 0 15px;
}

.voice-item img {
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}

.voice-text {
    padding: 16px 32px 32px;
}

.voice-text p:first-of-type {
    margin-bottom: 15px;
    margin-bottom: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

.voice-info {
    text-align: right;
    margin-bottom: 10px;
}

.voice-info span {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #FEE688;
    font-size: 1.4rem;
    text-align: right;
    margin-bottom: 7px;
}

.voice-info span:last-of-type {
    background-color: #9AB2D4;
}


 .voice-slider .slick-slide.slick-center .voice-item {
    transform: scale(1);
    opacity: 1;
}


/* slick矢印カスタマイズ */
.slick-center .voice-item {
    position: relative;
}
.prev-arrow,
.next-arrow {
    width: 55px;
    height: 55px;
    background: #FFD60E;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* left: 66%; */
    transform: translateY(-50%);
    z-index: 20;
    display: flex;
    justify-content: center;
}


.prev-arrow {
    left: 29%;
}

.next-arrow {
    left: 66%;
}

.prev-arrow::before,
.next-arrow::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-right: 2px solid #FFF;
    border-top: 2px solid #FFF;
    top: 53%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-60%, -50%) rotate(45deg);
}

.prev-arrow::before {
    transform: translate(-40%, -50%) rotate(-135deg);
}

@media (max-width: 768px) {

    .prev-arrow {
        left: 5%;
    }

    .next-arrow {
        left: 85%;
    }


}