img {
    max-width: 100%;
}

.step-content {
    display: flex;
    justify-content: space-between;
}

.step_text {
    text-align: center;
}

.step_text p {
    padding-bottom: 20px;
}

.step-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;
}


.step-box {
    display: flex;
    align-items: center;
}

.step-img img {
    margin-block: 20px;
}

.map-icon {
    max-width: 150px;
    text-align: center;
    margin-top: 20px;
}


.line {
    height: 2px;
}


.step-btn {
    position: absolute;
    right: 50%;
    transform: translateY(50%);
    transform: translateX(50%);
    bottom: -100px;
}

#btn_animation .btn {
    display: block;
    width: 250px;
    height: 60px;
    font-size: 1.6rem;
    line-height: 60px;
    text-decoration: none;
    background-color: #FFD60E;
    color: black;
    text-align: center;
    border-radius: 78px;
    animation: btn_animation 1s infinite;
}

.btn-inner {
    position: relative;
}


@keyframes btn_animation {
    0% {
        transform: scale(1, 0.8);
    }

    20% {
        transform: scale(0.8, 1.1);
    }

    95% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0.8);
    }
}

@media (width:797px) {
    .step-content {
        display: block;
    }
    
    .step-inner {
        display: block;
    }
}

