.price {
    margin-top: 200px;
    background-image: url(../img/price-bg.png);
    background-size: cover;
    height: 700px;
}

.price-text {
    margin-inline: 277px;
    width: 100%;
    max-width: 954px;
    height: 350px;
    background-color: white;
    margin: auto;
    border-radius: 30px;
    border: 3px solid #227dd3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-text p {
    font-size: 3.3rem;
    font-weight: 800;

}

.price-text p:first-child {
    padding-bottom: 25px;
    margin: 0 auto;
}

.price-text span {
    font-size: 2.1rem;
}

.price-text span:first-child {
    padding-right: 15px;
}

.price h2 {
    padding-top: 50px;
}

