@charset "UTF-8";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 954px;
    margin: 0 auto;
}

/* コンタクトボタン（hover) */
.contact-btn {
    width: 250px;
    height: 40px;
    padding-inline: 10px;
    background-color: #FFD60E;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: .3s;
    text-shadow: 0 2px 4px rgba(0,0,0,0.35);
}

.contact-btn:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* コンタクトボタン（ぷるーん） */

.btn_box {
    position: absolute;
    top: 100px;
}

#btn_animation .btn {
    display: block;
    width: 250px;
    height: 40px;
    font-size: calc(14 / 14*1rem);
    line-height: 40px;
    text-decoration: none;
    background-color: #FFD60E;
    color: white;
    text-align: center;
    border-radius: 78px;
    animation: btn_animation 1s infinite;
}

@keyframes btn_animation {
    0% {
        transform: scale(1, 0.8);
    }

    20% {
        transform: scale(0.8, 1.1);
    }

    95% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0.8);
    }
}


/* セクションタイトル */

.section-title {
    /* font-size: calc(20 / 14*1rem); */
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-bottom: 80px;
}


.section-title::before {
    width: 80px;
    height: 0.4rem;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #497BA1;
}